.signDiv{
    clip-path: circle(40.6% at 50% 0);
    height: 70vh;
    background: rgb(10, 109, 190);
    padding-top: 5rem;
    transition: clip-path 1s;
    color: white;
}
.signDiv:hover{
    clip-path: circle(49% at 50% 0);
    background: rgb(9, 122, 214);
    
}