
.carD{
    position: relative;
    background-color: #ebebeb;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
.h3-head{
    margin-top: 40px;
}
.career-section{
    background-color: #f7f8fa;
    padding: 20px;
    margin-top: 20px;
}
.homesection2{
    background-color: #ff294f;
    padding: 40px 0 40px 0;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 30PX 0 30PX 0;
    color: white;
}
